h5 {
  font-size: 50px;
  margin: 40px 0;
}

.functionality-container {
  margin: 10px 0;
  padding: 20px 0;
  background: #1b1442;
  color: #fff;
  scroll-margin-top: 55px;
}

.functionality-card--container {
  margin: 10px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.functionality-card--row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

.card-title h3 {
  text-align: center;
  margin-bottom: 5px;
  font-size: x-large;
  color: #000;
}

.card-body p {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  word-spacing: 4px;
  color: #000;
}
