.contact-font-color {
  color: #fff;
}

.font-size {
  font-size: 50px;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-bottom: 10px;
}

.newsletter p {
  color: white;
  padding-left: 12px;
  font-size: 18px;
}

.span {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 12px;
  color: white;
  letter-spacing: 0.5px;
}

.additional-contacts {
  margin: 15px auto;
  height: 100px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.additional-contacts ul {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
}

.additional-contacts li {
  padding: 4px 40px;
  text-align: center;
  line-height: 1.7;
}
