.card-container {
  width: 420px;
  height: 522px;
  border: 1px solid #d3d3d3;
  border-radius: 5%;
  background: #fff;
  margin: 20px 0px;
}

.image-container img {
  overflow: hidden;
  height: 245px;
  border-bottom: 1px solid #000;
  background: #fff;
}

.card-content {
  margin: 1rem;
  margin-top: 0.3rem;
}
